<h1>Create a new Recipe!</h1>

<form method="post" action="/recipes">
    <p><input type="text" name="name" value=""></p>
    <p><input type="text" name="ingredients" value=""></p>
    <p><input type="text" name="cook_time" value=""></p>
    <button type="submit" value="submit">submit</button>
</form>
